.logo {
    height: 50px;
    width: auto;
}

body {
  background: #111; /* dark background for glow */
  font-family: 'Poppins', sans-serif;
}

.nav {
  display: flex;
  gap: 30px;
  /* padding: 20px 50px; */
}

.nav-link {
  position: relative;
  padding: 8px 16px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.3s;
  z-index: 0;
}

/* subtle glowing underline */
.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 3px;
  background: #00eaff;
  border-radius: 2px;
  transition: 0.4s;
  transform: translateX(-50%);
}

.nav-link:hover::after {
  width: 100%;
}

/* soft glass neon glow */
.sidebar .nav-link:hover {
  color: #00eaff !important;
  backdrop-filter: blur(6px);
  box-shadow: 0 0 10px #00eaff50, 0 0 20px #00eaff30;
  transform: translateY(-2px);
  border-radius: 8px;
}

.nav-link:active {
  color: #00eaff;
  backdrop-filter: blur(6px);
  box-shadow: 0 0 10px #00eaff50, 0 0 20px #00eaff30;
  transform: translateY(-2px);
}



.sidebar {
min-width: 200px !important ;
}

.sidebar .router-link-active {
  color: #00eaff !important;
  backdrop-filter: blur(6px);
  box-shadow: 0 0 10px #00eaff50, 0 0 20px #00eaff30;
  transform: translateY(-2px);
  border-radius: 8px;
  transition: 0.3s ease;
}

.sidebar .router-link-active i {
  color: #00eaff;
}
